.hidden {
  display: none;
}

.show {
  display: visible;
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* background: linear-gradient(to right bottom, #243337, #638a8c) no-repeat center center fixed; */
  background: #edf2f6;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  /* background-image: linear-gradient(to right bottom, #243337, #638a8c);
  background-size: auto;
  background-repeat: no-repeat; */
  height: 100vh;
}

.header {
  background: linear-gradient(to right bottom, #243337, #638a8c) no-repeat center center fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #ced7d7;
}

.header-heading {
  margin-left: 10px;
}

.header-text {
  flex: 0 0 10%;
}

.mr-1 {
  margin-right: 10px;
}

.header-btn {
  flex: 0 0 5%;
  text-decoration: none;
  color: #ced7d7;
  border: 2px solid #a0aeaf;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
}

.header-btn:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.login-container {
  background: linear-gradient(to right bottom, #243337, #638a8c) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91vh;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.login-heading {
  flex: 0 0 20%;
}

.login-form {
  flex: 0 0 40%;
  width: 50%;
  text-align: center;
}

.login-input {
  border: none;
  padding: 10px;
  width: 60%;
  background-color: transparent;
  border-bottom: 1px solid #a0aeaf;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ced7d7;
}

.login-input::placeholder {
  color: #ced7d7;
}

.login-input:focus {
  outline: 0;
  border-width: 3px;
  font-weight: 900;
  letter-spacing: 2px;
}

.login-submit {
  width: 40%;
  background-color: transparent;
  border: 1px solid #a0aeaf;
  padding: 10px;
  border-radius: 10px;
  color: #ced7d7;
  cursor: pointer;
}

.login-submit:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

/* Search input */

.header-search-bar {
  flex: 0 0 30%;
  text-align: center;
}

.header-search-bar .search-input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #a0aeaf;
  border-radius: 10px;
  margin-top: 10px;
  width: 90%;
  padding: 10px;
  color: #ced7d7;
}

.header-search-bar .search-input:focus {
  outline: 0;
}

/* Content Area */

.content-area {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.notification-area {
  flex: 1;
}

.post-area {
  flex: 2;
  text-align: center;
  margin: 0px 100px;
  /* background-color: #edf2f6; */
}

.friends-area {
  flex: 1;
}

.new-post {
  background-color: #fff;
}

.new-post .post-btn-container {
  text-align: right;
}

.new-post .post-btn-container .add-post-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 10px 20px 10px 10px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff763a;
}

.new-post .post-options {
  height: 60px;
  background-color: #fafbfd;
}

.post-input {
  width: 100%;
  height: 30%;
  resize: none;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #e6ecf5;
  font-family: 'Open Sans';
}

.post-input:focus {
  outline: none;
  border-bottom-color: #ff763a;
}

.post-input::placeholder {
  font-family: 'Open Sans';
  color: darkgray;
}

/* Posts */

.posts {
  margin-top: 40px;
}

.post {
  background-color: #fff;
  text-align: left;
  padding: 20px;
}

.post p {
  margin: 40px 10px 30px 10px;
}

.post-btn {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #a0aeaf;
  padding: 10px 20px;
  border-radius: 10px;
}

.post .post-btn:hover {
  background-color: #edf2f6;
}

.post .like-count {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
}

.post .comment-count{
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.post .post-content {
  margin-left: 10px;
}

.post .post-content .post-avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.post-content .post-info .user {
  font-weight: 600;
}

.post .post-content .post-info {
  display: inline-block;
}

.post .post-delete-icon {
  float: right;
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.post .post-buttons{
  text-align: center;
}

.post .post-stats{
  margin-left: 15px;
  margin-bottom: 10px;
}

.post .like-count {
  display: inline-block;
  font-size: 12px;
  
}

.post .comment-count{
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
}


.post .like-count-icon{
  
}

/* Comment section */

.comment {
  background-color: #edf2f6;
  padding: 10px;
  margin-top: 20px;
}

.comment-user {
  font-weight: bold;
  font-size: 18px;
}

.comment-text {
  font-size: 16px;
}

.comment-delete {
  float: right;
    text-decoration: none;
    color: red;
    font-size: 12px;
    padding: 3px;
    margin-top: 5px;
}

.comment-time {
  display: inline-block;
  font-size: 10px;
  width: 100%;
  padding-left: 5px;
  letter-spacing: 1px;
}

.comment-form {
  margin-top: 20px;
}

.comment-form input[type='text'] {
  border: 1px solid #a3afb9;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.comment-form input[type='text']:focus{
  outline: none;
  border-color: #ff763a;
}

.comment-form input[type='submit'] {
  display: inline-block;
  padding: 10px;
  text-align: center;
  margin-left: 5px;
}



.red{
  color: red;
}
.blue{
  color:#3578e5;
}