* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #ced7d7;
}

.main-container {
  background-image: linear-gradient(to right bottom, #243337, #638a8c);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-heading {
  flex: 0 0 80%;
  margin-left: 10px;
}

.header-text {
  flex: 0 0 10%;
  margin-right: 10px;
}

.header-btn {
  flex: 0 0 5%;
  text-decoration: none;
  color: #ced7d7;
  border: 2px solid #a0aeaf;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
}

.header-btn:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: 50px;
}

.login-heading{
  flex: 0 0 20%;
}

.login-form {
  flex: 0 0 40%;
  width: 50%;
  text-align: center;
}


.login-input {
  border: none;
  padding: 10px;
  width: 60%;
  background-color: transparent;
  border-bottom: 1px solid #a0aeaf;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ced7d7;
  

}

.login-input::placeholder {
  color: #ced7d7;
}

.login-input:focus {
  outline: 0;
  border-width: 3px;
  font-weight: 900;
  letter-spacing: 2px;
}



.login-submit {
  width: 40%;
  background-color: transparent;
  border: 1px solid #a0aeaf;
  padding: 10px;
  border-radius: 10px;
  color: #ced7d7;
  cursor: pointer;
}

.login-submit:hover{
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}