/* Edited By Bilal */

.hidden {
  display: none;
}

.show {
  /* display: block; */
}

.center {
  text-align: center;
  display: block;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.green {}

* {
  margin: 0;
  padding: 0;
}

html {
  /* background: linear-gradient(to right bottom, #243337, #638a8c) no-repeat center center fixed; */
  background: #edf2f6;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif";
}

.main-container {
  /* background-image: linear-gradient(to right bottom, #243337, #638a8c);
  background-size: auto;
  background-repeat: no-repeat; */
  margin-top: 81px;
}

/* ------------------------- Header Section of website ------------------------ */

.header {
  /* background: linear-gradient(to right bottom, #243337, #638a8c) no-repeat center center fixed; */
  background-color: #000;
  display: flex;
  justify-content: space-between;
  height: 80px;
  color: #fff;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

/* Header links or buttons on header */

.header-links {
  flex: 0 0 45%;
  display: flex;
  align-items: center;
}

/* Header-links on login page */

.header-links-login {
  justify-content: flex-end;
}

/*  Main Heading of website present on header */

.heading_link {
  text-decoration: none;
  color: #ff763a;
}

/* Main header heaing container */

.header-heading {
  display: flex;
  align-items: center;
  padding: 0px 14px 0px 10px;
  font-family: "Berkshire Swash", sans-serif;
}

.header-heading:hover {
  background-color: #353535;
}

/* Buttons Present on header */

.header-btn {
  flex: 0 0 5%;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
}

/* header buttons on login Page and Sign up page */

.header-links-login .header-btn {
  flex: 0 0 10%;
}

/* Header Search Bar */

.header-search-bar {
  flex: 0 0 35%;
  position: relative;
  display: flex;
  align-items: center;
}

/* Search Result Dropdown */

.search-result {
  position: absolute;
  display: none;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  top: 75%;
  z-index: 1;
}

/* search result person */

.search-person-container {
  display: flex;
  align-items: center;
}

.person-message {
  flex: 0.5;
}

.all-search {
  background-color: #fff;
  padding: 20px;
}

.search-person {
  flex: 8;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
}

.search-person-container:hover {
  background-color: #f6f6f6;
}

.search-person-info {
  text-decoration: none;
}

.message-icon {
  color: #000;
  font-size: 20px;
}

.search-person-info .person-name {
  color: #000;
}

.header-search-bar .search-input {
  border: none;
  height: 50%;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #3f3f3f;
}

.header-search-bar .search-input:focus {
  outline: 0;
}

/* ------- Header Dropdowns ----------- */

/* Notification Dropdown */

/* Message Dropdown */

/* Request Dropdown */

.notification-dropdown,
.message-dropdown,
.request-dropdown {
  position: relative;
}

/* Number of notification circle positioning */

.noti-count,
.msg-count,
.req-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -14px;
  left: 22px;
  font-size: 12px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

/* Dropdown Content  Styling for Dropdowns */

.noti-dropdown,
.msg-dropdown,
.req-dropdown {
  background-color: #fff;
  position: absolute;
  color: #000;
  display: none;
  top: 50px;
  width: 350px;
  /* height: 200px;  */
  right: -140px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 375px;
  overflow-y: scroll;
}

.noti-dropdown h3,
.msg-dropdown h3,
.req-dropdown h3 {
  padding: 10px;
  text-align: center;
}

/* Displaying Current User */

.logged-user {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0px 30px;
  height: 100%;
}

.logged-user:hover {
  background-color: #353535;
}

/* ------------------------ Header Ended ------------------------- */

/* ------------------ Login Page Styling ----------------------- */

.login-container {
  /* background: linear-gradient(to right bottom, #243337, #638a8c) no-repeat center center fixed; */
  background-image: url("../assets/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
}

.login-logo {
  background-image: url("../assets/logo2.png");
  background-repeat: no-repeat;
  background-size: 40vh;
  flex: 1;
}

.login-info {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 10px;
  margin-left: 40px;
}

.sign-form-container {
  /* flex: 1; */
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  padding: 20px 30px 10px;
  margin-left: 40px;
}

/* Login Page Heading */

.login-heading {
  flex: 0 0 20%;
}

/* Login Page Form */

.login-form {}

.sign-form {
  text-align: center;
}

/* Login Page Inputs */

.login-input {
  padding: 5px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #a0aeaf;
  margin-right: 10px;
  color: #ced7d7;
}

.sign-input {
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #a0aeaf;
  margin-bottom: 20px;
  width: 100%;
  color: #ced7d7;
}

.login-error-container {
  text-align: center;
  margin-top: 10px;
}

.error-msg,
.login-error-msg {
  color: #ced7d7;
  font-size: 14px;
}

.edit-error-msg {
  color: red;
  font-size: 14px;
}

.sign-input .option {
  background: rgba(0, 0, 0, 1);
}

/* Login Page inputs placeholder text */

.login-input::placeholder,
.sign-input::placeholder,
.search-input::placeholder {
  color: #ced7d7;
}

/* When inputs are focused */

.login-input:focus,
.sign-input:focus {
  outline: 0;
}

@-webkit-keyframes autofill {
  to {
    color: #ced7d7;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

/* Login Page submit button */

.login-submit,
.sign-submit {
  background-color: transparent;
  border: 1px solid #a0aeaf;
  padding: 10px;
  /* border-radius: 10px; */
  color: #ced7d7;
  cursor: pointer;
}

.login-submit:focus {
  outline: none;
}

/* Submit button hover */

.login-submit:hover {
  /* background-color: #ffffff;
  color: #000000;
  border-color: #ffffff; */
}

/* ------------------------- Login Page Ended ------------------------------ */

/* Content Area */

.content-area {
  display: flex;
  margin: 100px 100px 10px 100px;
  padding: 10px;
  overflow: hidden;
}

.post-area {
  flex: 2;
  margin: 0px 30px;
}

.friends-area {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
  background-color: #fff;
  height: max-content;
}

.friend-fix {
  display: flex;
  align-items: center;
  width: 100%;
}

.friend-fix .friend-action {
  margin-right: 10px;
}

.friend-heading {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #ff763a;
  color: #fff;
}

.friend,
.people-you-may-know,
.latest-user,
.friend-request,
.mutual-friend {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.friend-container:hover {
  background-color: #f6f6f6;
}

.friend-image,
.people-you-may-know-image,
.latest-user-image,
.mutual-friend-image {
  float: left;
}

.remove-friend {
  /* float: right; */
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  font-size: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  font-family: "Open Sans", "sans-serif";
}

.tooltip-bottom {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -40px;
  margin-top: 10px;
  width: 110px;
}

.tooltip-right {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  margin-left: 5px;
  width: 80px;
}

.tooltip-left {
  position: absolute;
  z-index: 1;
  top: -2px;
  right: 105%;
  margin-left: 5px;
  width: 60px;
  text-overflow: clip;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}

.remove-friend i {
  color: #f97e4d;
  float: right;
}

.add-friend i {
  color: green;
  float: right;
}

.friend-action,
.people-you-may-know-action,
.friend-request-action {
  flex: 2;
}

.friend-info,
.people-you-may-know-info,
.latest-user-info,
.friend-request-info,
.mutual-friend-info {
  flex: 6;
}

.friend-request-info a {
  color: #000;
  text-decoration: none;
}

.friend-text,
.people-you-may-know-text,
.latest-user-text,
.mutual-friend-text {
  font-size: 12px;
  color: black;
  display: block;
  text-decoration: none;
}

.new-post {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
  margin-bottom: 40px;
}

.new-post .post-btn-container {
  margin-top: 2px;
  float: right;
  flex: 1;
}

.post-bottom {
  padding: 10px 5px;
  display: flex;
}

.new-post .post-btn-container .add-post-btn {
  display: inline-block;
  text-align: center;
  margin: 0px 10px 5px 5px;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #ff763a;
  font-size: 15px;
}

.new-post .post-options {
  height: 5%;
  background-color: #f6f7f9;
}

.post-input {
  width: 100%;
  height: 25%;
  resize: none;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #e6ecf5;
}

.post-input:focus {
  outline: none;
  border-bottom-color: #ff763a;
}

.post-input::placeholder {
  font-family: "Open Sans";
  color: darkgray;
}

/* Post Pic Button */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  flex: 6;
}

.pic-upload-btn {
  border: none;
  background-color: white;
  padding: 5px 10px;
  font-size: 25px;
}

.msg-pic-upload-btn {
  border: none;
  background-color: white;
  font-size: 25px;
}

.pic-upload-btn:hover,
.msg-pic-upload-btn:hover {
  cursor: pointer;
}

input[type="file"]:hover {
  cursor: pointer !important;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Posts */

/* .posts {
  margin-top: 40px;
} */

.post {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
}

/* Post Image */

.post-image-container {
  margin: 0 0 10px 0;
}

.post-image-container .post-image {
  width: 100%;
  max-height: 350px;
}

.post-video {
  width: 500px;
}

.post .post-header {
  display: flex;
  align-items: center;
}

.post .post-header .post-time,
.post-edited {
  color: #90949c;
  font-size: 10px;
}

.post-edited {
  color: #898383;
  font-weight: bold;
}

.post p {
  margin: 20px 10px 10px 5px;
  font-size: 14px;
}

.post-btn {
  display: inline-block;
  width: 48%;
  text-align: center;
  /* margin-right: 5px; */
  text-decoration: none;
  color: #000000;
  /* border: 1px solid #a0aeaf; */
  padding: 7px 0px;
  /* border-radius: 10px; */
  font-size: 12px;
}

.post .post-btn:hover {
  background-color: #edf2f6;
}

.post .like-count {
  font-size: 12px;
  cursor: pointer;
}

.post .comment-count {
  font-size: 12px;
  margin-left: 5px;
  color: #000;
  text-decoration: none;
}

.post .post-content {
  margin-left: 10px;
}

.post-avatar-30 {
  width: 25px;
  height: 25px;
}

.post-avatar-40 {
  height: 35px;
  width: 35px;
}

.post-avatar {
  border-radius: 100%;
  margin-right: 5px;
  border: 1px solid #43484c;
}

.post-content .post-info .user {
  font-weight: 600;
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #365899;
}

.post .post-content .post-info {
  display: inline-block;
}

.post .post-delete-icon {
  float: right;
  margin-top: 5px;
  font-size: 15px;
  cursor: pointer;
  color: #898383;
}

.post .post-buttons {
  text-align: center;
  border-top: 1px solid #edf2f6;
}

.post .post-stats {
  margin-left: 10px;
  margin-bottom: 8px;
}

.edit-post {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 10px;
}

.edit-post-button-container {
  margin: 10px;
  text-align: center;
}

.edit-post-save-btn,
.edit-post-cancel-btn {
  display: inline-block;
  width: 30%;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #d6cece;
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 10px;
}

.edit-post-save-btn:hover,
.edit-post-cancel-btn:hover {
  background-color: #edf2f6;
}

.edit-post-cancel-btn {}

.radio-buttons-edit {
  margin-top: 10px;
  margin-left: 5px;
}

.post .like-count-icon {}

/* Comment section */

.comment {
  padding: 0px 14px;
  margin-top: 14px;
  display: flex;
}

.user-image {
  margin-top: -1px;
}

.user-image-comment {
  margin-top: 2px;
}

.comment .comment-info {
  width: 100%;
}

.comment .comment-body {
  width: 90%;
}

.comment-user {
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: #365899;
}

.comment-text {
  font-size: 13px;
}

.comment-delete,
.comment-edit {
  float: right;
  text-decoration: none;
  color: #898383;
  font-size: 12px;
  padding: 3px;
  margin-top: 5px;
  cursor: pointer;
}

.comment-time,
.comment-edit-text {
  font-size: 8px;
  color: #90949c;
  display: inline-block;
  width: 100%;
}

.comment-edit-text {
  width: 50%;
  color: #360505;
  font-weight: bold;
}

.comment-form {
  margin-top: 13px;
  display: flex;
}

.comment-form form {
  flex: 1;
}

.edit-comment-form {}

.comment-form input[type="text"],
.search-user-details-input,
.remove-user-input {
  border: 1px solid #a3afb9;
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  font-size: 13px;
}

.comment-form input[type="text"]:focus,
.search-user-details-input:focus,
.remove-user-input:focus {
  outline: none;
  border-color: #ff763a;
}

.comment-form input[type="submit"],
.search-user-details-submit,
.remove-user-submit {
  display: inline-block;
  padding: 10px;
  text-align: center;
  margin-left: 5px;
}

.red {
  color: red;
}

.blue {
  color: #3578e5;
}

/* --------------------- Notification and Recent Activity Styling ------------------- */

.notification-area,
.recent-activities-area {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
  background-color: #fff;
  height: max-content;
}

.notification-display,
.recent-activities-display {
  padding: 50px;
  background-color: #fff;
}

.notification-display h1,
.recent-activities-display h1 {
  margin-bottom: 30px;
}

.notification,
.recent-activity {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.notification-image,
.recent-activity-image {
  float: left;
}

.notification-heading,
.recent-activities-heading,
.people-you-may-know-heading,
.user-activities-summary-heading,
.user-activities-summary-heading-for-admin,
.user-info-heading,
.user-info-edit-div-heading,
.recenet-uploads-heading,
.remove-user-heading,
.latest-users-heading,
.mutual-friends-heading {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #ff763a;
  color: #fff;
}

.notification:hover,
.recent-activity:hover,
.people-you-may-know:hover,
.latest-user:hover,
.mutual-friend:hover {
  background-color: #f6f6f6;
}

.notification-info,
.recent-activity-info {
  display: inline-block;
}

.notification-info .deleted-noti,
.recent-activity-info .deleted-activity {
  color: red;
}

.deleted-noti,
.deleted-activity {
  cursor: not-allowed;
}

.deleted-noti:hover,
.deleted-activity:hover {
  background-color: #fff;
}

.noSeen {
  background-color: #f7f380;
}

.notification-text,
.recent-activity-text {
  font-size: 11px;
  text-decoration: none;
  color: black;
  display: block;
}

.noti-icon,
.recent-activity-icon {
  font-size: 10px;
  color: #000;
  display: inline-block;
  margin-right: 5px;
}

.noti-time,
.recent-activity-time {
  font-size: 10px;
  color: #90949c;
  display: inline-block;
}

.notification-info,
.recent-activity-info {
  max-width: 80%;
}

/* ---------------- Notification and Recent Activity Ended ------------------- */

.content {
  display: flex;
  padding: 40px;
  /* Giving padding around content */
  height: auto;
}

.friend-request-area {
  flex: 4;
  background-color: #fff;
  margin-right: 50px;
  padding: 15px 20px 5px;
}

.friend-request-btn {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #a0aeaf;
  text-align: center;
  margin-right: 10px;
  border-radius: 5px;
}

.friend-request:hover {
  background-color: #f6f6f6;
}

.friend-request-btn:hover {
  background-color: #edf2f6;
  cursor: pointer;
}

.friends-page {
  display: flex;
  padding: 30px;
  overflow: hidden;
}

.friends-content {
  flex: 3;
  background-color: #fff;
  margin-right: 20px;
}

.people-you-may-know-area,
.user-info-area,
.recenet-uploads-area,
.remove-user-area,
.latest-users-area,
.mutual-friends-area {
  margin-bottom: 50px;
  height: fit-content;
  background-color: #fff;
}

.people-you-may-know-area,
.latest-users-area,
.mutual-friends-area {
  flex: 1;
}

.friends-list .friend-container {
  display: inline-block;
  width: 33%;
}

.friend-container {
  display: flex;
  align-items: center;
}

.friend {
  flex: 8;
  text-decoration: none;
}

.friend-action {
  flex: 1;
}

.friends-list h1 {
  margin: 10px 0px 10px 10px;
}

.friends-list-elements {
  width: 100%;
}

/* User timeline */

.user-timeline {
  /* height: 100%; */
}

.user-cover-area {
  position: relative;
  height: 500px;
  /* margin: 30px 0px; */
  border-radius: 5px 5px 0px 0px;
  border-radius: 5px;
  background-color: #fff;
}

.user-cover-area .user-info {
  flex: 1;
  text-align: center;
  margin-top: 40px;
}

.user-cover-area .user-info span {
  font-size: 12px;
  color: #888fab;
}

.user-cover {
  background: linear-gradient(to bottom, #083023, #1f4b49);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 5px;
}

.user-pic-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -140%);
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  text-align: center;
  border: 6px solid #e4e4e4;
  margin: 0 auto;
}

.user-pic-container img {
  width: 150px;
  height: 150px;
}

.edit-profile-pic {
  position: absolute;
  top: 56%;
  left: 45%;
}

.edit-profile-pic .pic-upload-btn {
  font-size: 20px;
  padding: 5px;
  background: #ff763a;
}

.edit-cover-pic .pic-upload-btn {
  font-size: 20px;
  padding: 5px;
  background: #ff763a;
}

.user-timeline-tabs {
  display: flex;
  align-items: center;
}

.friends-link,
.newsfeed-link {
  flex: 1;
  text-align: center;
}

.friends-link-button,
.recent-activities-link-button,
.messages-link-button,
.notifications-link-button {
  text-decoration: none;
  color: #000;
  padding: 20px;
}

.friends-link-button,
.notifications-link-button {
  margin-right: 100px;
}

.friends-link-button:hover,
.recent-activities-link-button:hover,
.messages-link-button:hover,
.notifications-link-button:hover {
  background-color: #edf2f6;
}

.friend-button {
  display: inline-block;
  background: #ff763a;
  color: #fff;
  padding: 10px;
}

.friend-button input {
  padding: 10px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.friend-button input:focus {
  outline: 0;
}

.timeline-message-button {
  color: #000;
  text-decoration: none;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.user-activities-summary-area,
.user-activities-summary-area-for-admin {
  flex: 1;
  margin-bottom: 50px;
  background-color: #fff;
  height: fit-content;
}

.user-timeline .content-area {
  padding: 0px;
}

/* User attributes */

.user-attributes-area {
  margin: 30px 100px;
}

.user-attributes-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.see-more {
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: #000000;
  font-size: 14px;
}

.see-more:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

/* Online or Offline state*/

.state-on {
  font-size: 10px;
  color: green;
}

.state-off {
  font-size: 10px;
  color: #898383;
}

/* Message Area */

.message-area {
  display: flex;
  height: 88%;
  overflow: hidden;
}

.no-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.no-message-text {
  flex: 3;
}

.no-message-icon {
  flex: 2;
  text-align: center;
}

.no-message-icon i {
  font-size: 40px;
  color: #ff763a;
}

.no-message-text h2 {
  color: #8e8d8d;
}

.recent-chat-area {
  flex: 1;
  background-color: #fff;
}

.recent-chats {
  margin: 10px;
  background-color: #fff;
  height: 88%;
  overflow-y: scroll;
}

.recent-user {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  cursor: pointer;
  text-decoration: none;
  width: 95%;
}

.recent-user-div {
  display: flex;
  border-bottom: 1px solid #edf2f6;
  padding: 10px 0px 10px 5px;
  align-items: center;
}

.recent-user-div:hover {
  background-color: #f6f6f6;
}

.recent-username {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 14px;
}

.recent-message-text {
  display: block;
  color: black;
  font-size: 12px;
}

.recent-message-info {
  flex: 2;
}

.recent-user-image {
  flex: 0;
  margin-top: 5px;
}

.recent-message-time {
  color: #90949c;
  font-size: 10px;
}

.search-message {
  position: relative;
  text-align: center;
}

.search-message-input {
  background-color: #f6f7f9;
  border-style: none;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 28px;
  width: 100%;
}

.search-message-input::placeholder {}

.search-message-input:focus {
  outline: none;
}

.search-result-message {
  position: absolute;
  display: none;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  top: 30px;
  z-index: 1;
}

.search-user-for-chats {
  margin: 10px 10px;
  text-align: center;
  width: 90%;
}

.chat-box {
  flex: 2.5;
  background-color: #fff;
}

.loading-messages,
.loading-messages * {
  text-align: center;
  font-size: 12px;
  color: black;
  text-decoration: none;
  padding: 8px;
}

.loading-messages a:hover {
  background-color: #f6f6f6;
}

.loading-posts {
  /* min-height: 400px; */
}

.convo-area {
  margin: 10px;
  height: 76%;
  overflow-y: scroll;
}

.chat-user {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dedddd;
  margin: 10px;
}

.chat-username{
  text-decoration: none;
  color : black;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  /*   
  height: 80%;
    overflow-y: scroll; */
}

.chat-message {
  padding: 5px;
  border-radius: 12px;
  max-width: 80%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.my-message {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.my-message .post-avatar {
  margin-left: 8px;
}

.their-message {
  align-self: flex-start;
}

.message {
  border-radius: 12px;
  padding: 5px 10px;
}

.my-message .message {
  background-color: #d4a88c;
}

.their-message .message {
  background-color: #f1f0f0;
}

.message-time {
  color: #90949c;
  display: inline-block;
  font-size: 10px;
  margin: 5px;
  width: 120px;
}

.time-display {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
}

.my-message .message-time {
  text-align: right;
}

.message-input-form {
  padding: 10px;
  border: 1px solid #dedddd;
  border-right: none;
  border-left: none;
}

.message-input {
  /* background-color: #f6f7f9; */
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  /* padding: 0 28px; */
  width: 80%;
  resize: none;
}

.message-input:focus {
  outline: 0;
}

.message-input::placeholder {
  font-family: "Open Sans";
}

/* profile picture */

.format {
  width: 250px;
  height: 230px;
}

/* Modal starts */

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Modal Content (image) */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */

.modal-open {
  animation-name: zoomIn;
  animation-duration: 0.6s;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-close {
  animation-name: zoomOut;
  animation-duration: 0.6s;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 50px;
  right: 10%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: normal;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#profile_picture:hover {
  cursor: pointer;
}

/* Custom Scroll Bar */

/* width */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  /* background: #555;  */
}

/* ----------------------- User activities summary --------------------------*/

.stat-heading {
  text-align: center;
  margin: 20px;
  margin-top: 0;
}

.stat-value {
  text-align: center;
  font-size: 40px;
}

/* --------------------------- Content area left & right side --------------------- */

.content-right-side,
.content-left-side {
  flex: 1;
}

/*--------------------- User details --------------------- */

.user-information {
  margin: 10px;
}

.user-info-value {}

.user-info .fa-edit {
  font-size: 10px;
}

.user-info-key {
  text-transform: capitalize;
  font-weight: bold;
}

.user-info-content .user-info,
.recenet-uploads-content,
.remove-user-content,
.user-activities-summary-input-area-for-admin {
  padding: 10px;
  text-align: center;
}

/* User info edititng */

.user-info-edit {
  text-align: center;
}

.user-info-edit-div {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  overflow: auto;
  background-color: #fff;
}

.forgot-password-div {
  position: fixed;
  padding: 20px;
  z-index: 100;
  /* padding-top: 75px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 30%;
}

/* Modal Content (image) */

.user-info-edit-div-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 700px;
  margin-top: 50px;
}

/* The Close Button */

.user-info-edit-div-close {
  position: absolute;
  top: -4px;
  right: 5%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: normal;
  transition: 0.3s;
}

.forgot-password-div-close {
  position: absolute;
  top: -7px;
  right: 3%;
  color: #f1f1f1;
  font-size: 25px;
  font-weight: normal;
  transition: 0.3s;
}

.user-info-edit-div-close:hover,
.user-info-edit-div-close:focus,
.forgot-password-div-close:focus,
.forgot-password-div-close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.user-info-edit-div-heading {
  font-size: 30px;
}

.forgot-password-div-heading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.user-info-edit-container {
  text-align: center;
  margin-top: 10px;
}

.user-info-edit-button {
  margin-bottom: 10px;
  background: #edf2f6;
  border: none;
  padding: 10px 60px;
}

.forgot-password-text {
  text-decoration: none;
  color: #ced7d7;
  font-size: 14px;
  display: block;
}

.forgot-password-input,
.change-pass-input {
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #a0aeaf;
  margin-bottom: 20px;
  color: #ced7d7;
  width: 70%;
}

.forgot-password-input:focus,
.change-pass-input:focus {
  outline: 0;
}

.forgot-password-question {
  text-align: center;
  margin-bottom: 10px;
}

.forgot-password-div-container {
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(36, 37, 52, 0.95);
}

.user-info-edit-div-container {
  position: fixed;
  z-index: 500;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(14, 10, 10, 0.45);
}

.user-info-display {
  margin: 20px 10px;
}

.user-info-display-heading {
  text-align: center;
}

.user-edit-field {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
}

.user-edit-field::placeholder {
  /* color: #98a2a2; */
  font-family: "Open Sans";
  color: darkgray;
}

.user-edit-save-container {
  text-align: center;
}

.user-edit-save {
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  width: 20%;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff763a;
}

.password-edit-save {
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff763a;
}

/* ----------------------- User activities summary --------------------------*/

.user-info-edit-button:hover {
  background-color: #ececec;
  cursor: pointer;
}

.stat-value {
  text-align: center;
  font-size: 40px;
}

.first-stat {
  margin-top: 10px;
}

.recent-uploads-footer {
  padding: 0px 5px 10px 5px;
  text-align: center;
  display: block;
  color: #000000;
  font-size: 14px;
}

.recent-upload-image,
.recent-upload-video {
  width: 48%;
  height: 120px;
}

.footer {
  padding-bottom: 13px;
  background-color: #000;
  /* z-index: 3; */
}

.footer-logo {
  color: #ff763a;
  font-family: "Berkshire Swash", sans-serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 10px;
  padding-top: 10px;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.owners {
  color: #fff;
  text-align: center;
  margin: 14px 0px;
}

.owner-names {
  font-family: "Merienda One", sans-serif;
}

.side-bar-container {
  position: relative;
}

.side-bar {
  position: fixed;
  top: 14%;
  left: 0;
  background: #fff;
  width: 5%;
  margin-top: 10px;
  z-index: 2;
}

.navigation {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}

.navigation a {
  color: #000;
}

.logo-design {
  background: #000;
  height: 500px;
  text-align: center;
  padding: 50px;
  color: #fff;
  font-size: 120px;
  font-family: "Berkshire Swash", sans-serif;
}

.contact-info {
  display: block;
}

#input-edit {
  width: 95%;
}

.chat-del-button {
  position: relative;
}

.chat-delete {
  display: none;
  position: absolute;
  top: -25px;
  right: 0px;
  text-decoration: none;
  color: #82858b;
  font-size: 12px;
  cursor: pointer;
}

.recent-user-div:hover .chat-delete {
  display: block;
}

.sponsor-link{
  text-decoration : none;
  color : white;
}

.user-isnt-friend{
  margin-bottom: 50px;
  height: fit-content;
  background-color: #fff;
  width: 300px;
}